<footer class="footer">
    <input id="theme" type="checkbox" checked data-toggle="toggle" data-on="Thème clair" data-off="Thème foncé"
           onchange="changeCSS()">
    <span id="span-footer">@Copyright - Site non officiel du 2048</span>


</footer>


</body>
</html>