<footer class="footer">
    <div class="container">
        <input id="theme" type="checkbox" checked data-toggle="toggle" data-on="Light Theme" data-off="Dark Theme" onchange="changeCSS()">
        <span id="span-footer">@Copyright - unofficial 2048 website</span>
    </div>
</footer>
</body>
</html>