<footer class="footer">
    <span style="float: left";> <a id="aide" href="#" data-toggle="modal" data-target="#modal2048">Vous avez besoin d'aide ?</a> </span>
    <input id="theme" type="checkbox" checked data-toggle="toggle" data-on="Thème clair" data-off="Thème foncé"
           onchange="changeCSS()">
    <span id="span-footer">@Copyright - Site non officiel du 2048.</span>
</footer>

</body>
</html>