<% var title = 'Page accueil' %>
    <% include head %>

        <body onload="init();">
            <div id="jeu">
                <div class="ligne">
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                </div>
                <div class="ligne">
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                </div>
                <div class="message"></div>

                <div class="ligne">
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                </div>
                <div class="ligne">
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                    <div class="case"></div>
                </div>
            </div>
            <div id="btn_jeu">
                <div class="btn_2048"><a href="index">Démarrer</a></div>
                <div class="btn_2048"><a href="index">Recommencer</a></div>
            </div>

        </body>

    <% include foot %>
