<% var title = 'Page accueil' %>
<% include head %>
<script type="text/javascript" src="js/2048.js"></script>


<body onload="init();">

<h1>2048 : Mode Standard</h1>


<div id="jeu">
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="message"></div>

    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
</div>

<div class="nbCoups"><p>Nombre de coups: 0</p></div>

<div class="swapMode">
    <button type="button" id="btnMode1" class="btn btn-primary btn-lg" disabled>Mode standard</button>
    <a href="indexTetris">
        <button type="button" id="btnMode2" class="btn btn-secondary btn-lg">Mode Tetris</button>
    </a>
</div>


<div id="btn_jeu">
    <div class="btn_2048"><a href="index">Démarrer</a></div>
    <div class="btn_2048"><a href="index">Recommencer</a></div>
</div>

<div class="col-sm-3 col-sm-offset-4 frame" style="position: fixed; bottom:50px; margin-left: 73%; width: 20%;">
    <div>
        <ul id="messages"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>

    <script>
        var socket = io.connect("http://localhost:3000");
        $(function() {
            socket.on('histo', historique => {
                historique.forEach(msg => {
                $('#messages').append($('<p>').text(msg.author + " : " + msg.text));
        });
        });
            socket.on('chat message', msg => {
                $('#messages').append($('<p>').text(msg.author + " : " + msg.text));
            window.scrollTo(0, document.body.scrollHeight);
        });
        });
    </script>
    <div class="msj-rta macro">
        <div class="text text-r">
            <form action="" id="formChat">
                <% if (_username) { %>
                <input id="m" autocomplete="off" placeholder="Entrez votre message..." style="padding:6px; margin-left:30%; margin-top: 3%; width:65%; border-radius:6px;" />
                <button class="btn btn-primary navbar-btn" style="margin-left: 50%;">Envoyer</button>
                <% } else { %>
                <p style="padding:6px; margin-bottom: 15px; margin-left:15%; margin-top: 3%; border-radius:6px; background-color: #ae7a7a; text-align: center;">Connectez vous pour communiquer...</p>
                <% } %>
                <script>
                    $(function() {
                        var author = "<%= _username %>"; //TODO changer par votre moyen de connaitre l'utilisateur courant
                        $('#formChat').submit(() => {
                            if ($('#m').val().trim() != "") {
                            socket.emit('chat message', {
                                "author": author,
                                "text": $('#m').val()
                            });
                            $('#m').val('');
                        }
                        return false;
                    });
                    });
                </script>
            </form>
        </div>

    </div>

</div>
</body>

<% include foot %>
