<% var title = 'Page accueil' %>
<% include head %>
<script type="text/javascript" src="js/tetris.js"></script>

<body onload="init(),frame();">

<h1>2048 : Mode Tetris</h1>

<div id="jeu">
    <div class="ligne">
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="message"></div>

    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
</div>

<div class="swapMode">
    <a href="index">
        <button type="button" id="btnMode1" class="btn btn-primary btn-lg">Mode standard</button>
    </a>
    <button type="button" id="btnMode2" class="btn btn-secondary btn-lg" disabled>Mode Tetris</button>
</div>

<div id="modal2048" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aide</h4>
            </div>
            <div class="modal-body">
                <p>
                    Bienvenue sur le mode de jeu 2048 tetris non officiel créé par FURNION Enzo, PIQUARD Anthony, SALDO Yann et TEBBOUNE Yacine. <br/>
                </p>
                <p>
                    Le but du jeu est de former le nombre 2048 en additionnant des tuiles de mêmes valeurs. <br/>
                    Pour déplacer les tuiles, il faut utiliser les flêches directionnelles. <br/>
                    Vous pouvez déplacer la tuile seulement à gauche ou à droite. <br/>
                </p>
                <!-- <p>

                </p> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="btn_jeu">
    <div class="btn_2048"><a href="indexTetris">Démarrer</a></div>
    <div class="btn_2048"><a href="indexTetris">Recommencer</a></div>
</div>

<div class="col-sm-3 col-sm-offset-4 frame" style="position: fixed; bottom:50px; margin-left: 73%; width: 20%;">
    <div>
        <ul id="messages"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>

    <script>
        var socket = io.connect("http://localhost:3000");
        $(function() {
            socket.on('histo', historique => {
                historique.forEach(msg => {
                $('#messages').append($('<p>').text(msg.author + " : " + msg.text));
            });
        });
            socket.on('chat message', msg => {
                $('#messages').append($('<p>').text(msg.author + " : " + msg.text));
            window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
    <div class="msj-rta macro">
        <div class="text text-r">
            <form action="" id="formChat">
                <% if (_username) { %>
                <input id="m" autocomplete="off" placeholder="Entrez votre message..." style="padding:6px; margin-left:30%; margin-top: 3%; width:65%; border-radius:6px;" />
                <button class="btn btn-primary navbar-btn" style="margin-left: 50%;">Envoyer</button>
                <% } else { %>
                <p style="padding:6px; margin-bottom: 15px; margin-left:15%; margin-top: 3%; border-radius:6px; background-color: #ae7a7a; text-align: center;">Connectez vous pour communiquer...</p>
                <% } %>
                <script>
                    $(function() {
                        var author = "<%= _username %>"; //TODO changer par votre moyen de connaitre l'utilisateur courant
                        $('#formChat').submit(() => {
                            if ($('#m').val().trim() != "") {
                            socket.emit('chat message', {
                                "author": author,
                                "text": $('#m').val()
                            });
                            $('#m').val('');
                        }
                        return false;
                    });
                    });
                </script>
            </form>
        </div>

    </div>

</div>

</body>

<% include foot %>
