<% var title = 'Page accueil' %>
<% include head %>

<body onload="init();">

<h1>2048 : Mode Tetris</h1>

<div id="jeu">
    <h1 style="color: red; text-align: center; margin-top:200px; margin-left: 50px;">En travaux lol mdr</h1>
    <!--<div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="message"></div>

    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>-->
</div>

<div class="swapMode">
    <a href="index"><button type="button" id="btnMode1" class="btn btn-primary btn-lg">Mode standard</button></a>
    <button type="button" id="btnMode2" class="btn btn-secondary btn-lg" disabled>Mode Tetris</button>
</div>

<div id="btn_jeu">
    <div class="btn_2048"><a href="index">Démarrer</a></div>
    <div class="btn_2048"><a href="index">Recommencer</a></div>
</div>

</body>

<% include foot %>
