<% var title = 'Page accueil' %>
<% include head %>
<body onload="init();">
        <div id="jeu">
            <div class="ligne">
                <div  class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
                <div  class="case"></div>
            </div>
            <div class="ligne">
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
            </div>
            <div class="ligne">
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
            </div>
            <div class="ligne">
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
                <div class="case"></div>
            </div>
        </div>
        <div class="message">  </div>
</body>
<% include foot %>