<% var title = 'Page accueil' %>
<% include head %>
<body onload="init();">
        <div id="jeu">
            <div class="ligne">
                <div style="top:204px;left:612px;" class="case"></div>
                <div style="top:204px;left:714px;" class="case"></div>
                <div style="top:204px;left:816px;" class="case"></div>
                <div style="top:204px;left:918px;" class="case"></div>
            </div>
            <div class="ligne">
                <div style="top:306px;left:612px;" class="case"></div>
                <div style="top:306px;left:714px;" class="case"></div>
                <div style="top:306px;left:816px;" class="case"></div>
                <div style="top:306px;left:918px;" class="case"></div>
            </div>
            <div class="ligne">
                <div style="top:408px;left:612px;" class="case"></div>
                <div style="top:408px;left:714px;" class="case"></div>
                <div style="top:408px;left:816px;" class="case"></div>
                <div style="top:408px;left:918px;" class="case"></div>
            </div>
            <div class="ligne">
                <div style="top:510px;left:612px;" class="case"></div>
                <div style="top:510px;left:714px;" class="case"></div>
                <div style="top:510px;left:816px;" class="case"></div>
                <div style="top:510px;left:918px;" class="case"></div>
            </div>
        </div>
</body>
<% include foot %>