<% var title = 'Page accueil' %>
<% include head %>
<script type="text/javascript" src="js/2048.js"></script>


<body onload="init();">

<h1>2048 : Mode Standard</h1>


<div id="jeu">
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="message"></div>

    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
</div>

<div class="nbCoups"><p>Nombre de coups: 0</p></div>

<div class="swapMode">
    <button type="button" id="btnMode1" class="btn btn-primary btn-lg" disabled>Mode standard</button>
    <a href="indexTetris">
        <button type="button" id="btnMode2" class="btn btn-secondary btn-lg">Mode Tetris</button>
    </a>
</div>


<div id="btn_jeu">
    <div class="btn_2048"><a href="index">Démarrer</a></div>
    <div class="btn_2048"><a href="index">Recommencer</a></div>
</div>

</body>

<% include foot %>
