<% var title = 'Page accueil' %>
<% include head %>
<script type="text/javascript" src="js/tetris.js"></script>

<body onload="init();">

<h1>2048 : Mode Tetris</h1>

<div id="jeu">
    <div class="ligne">
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
        <div class="case" id="ligne1" style="color:black;"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="message"></div>

    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
    <div class="ligne">
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
        <div class="case"></div>
    </div>
</div>

<div class="swapMode">
    <a href="index">
        <button type="button" id="btnMode1" class="btn btn-primary btn-lg">Mode standard</button>
    </a>
    <button type="button" id="btnMode2" class="btn btn-secondary btn-lg" disabled>Mode Tetris</button>
</div>

<div id="btn_jeu">
    <div class="btn_2048"><a href="index">Démarrer</a></div>
    <div class="btn_2048"><a href="index">Recommencer</a></div>
</div>

</body>

<% include foot %>
