<% var title = 'Mon Compte' %>
<% include head %>
<br/>
<h1 style="text-align:center;" id="titleForm">Bienvenue sur votre panneau utilisateur</h1>
<br/><br/><br/><br/>
<div class="container">
<div class="login-form"><!--login form-->
<form method="POST" id="formContour">
    <h4 for="name" style="text-align : center; margin-top: 30px;"> Nom d'utilisateur : </h4>
    <input style="display: block; margin : auto; width:40%;" type="text" name="nomUser" id="name" value="<%= nom %>"/>
    <br/>
    <h4 for="Email" style="text-align : center;"> Email : </h4>
    <input style="display: block; margin : auto; width:40%; text-align:center;" type="text" id="Email" name="emailUser" value="<%= email %>"/>
    <br/>
    <h4 for="ancienMdp" style="text-align : center;"> Ancien mot de passe : </h4>
    <input style="display: block; margin : auto; width:40%; text-align:center;" type="password" id="ancienMdp" name="ancienMdp" required/>
    <br/>
    <h4 for="newMdp" style="text-align : center;">Nouveau mot de passe :</h4>
    <input style="display: block; margin : auto; width:40%; text-align:center;" type="password" id="newMdp" name="newMdp"/>
    <br/><br/>
    <button class="btn btn-default" id="buttonForm" style="display: block; margin : auto; margin-bottom: 30px; width:40%; text-align:center;" type="submit">Changer les informations</button>

</form>
</div>
</div>

<% include foot %>
