#jeu{
	position: absolute;
	z-index: 1;
	top:20%;
	left:40%;
}

div {
display: block;
}

/*#commande {
	margin:0px;	
	height:30px;
	position: absolute;
	left : 410px;
	top: 0px;
}*/
.ligne{
	margin-bottom: 15px;
}
.case {
	border-style:solid;
	border-width:1px;
	border-color:black;

	transition-property : top, left;
	transition-duration : 1s;
	text-align: center;
	font-size: 4rem;
	line-height: 100px;
	width: 106.25px;
	height: 106.25px;
	margin: 1px;
	float: left;
	border-radius: 3px;
}
.new {
	color : red;
}

.videold { 	background-color:#00008B; z-index:0; border:none}