html { font-size: 62.5%; } 
body { 	margin: 0px; padding: 0px; color : black}
#jeu { 	
	border-style:solid;	
	border-width:1px;	
	background-color:black;	
	margin-top:151px;
    margin-left:611px;
	width: 408px;	
	height:408px;	 
}

#commande { 	
	margin:0px;	
	height:30px;
	position: absolute;
	left : 410px;
	top: 0px;
}
.case {    
	border-style:solid;	
	border-width:1px;
	border-color:black;
	background-color:#ecf0f1;	
	margin:0px;
	padding: 0px;	
	width: 100px;	
	height:100px;	
	position: absolute;	
	z-index:1;  
	transition-property : top, left;
	transition-duration : 1s;
	text-align: center;	
	font-size: 4rem; 
	line-height: 100px;
}
.new {
	color : red;
}

.videold { 	background-color:#00008B; z-index:0; border:none}