.text{
    width:75%;
}

.text-l{
    float:left;
}

.frame{
    overflow:scroll;
    margin-bottom: 90px;
    background:#e0e0de;
    height:400px;
    padding:0;
}
.frame > div:last-of-type{
    bottom: 50px;
    width: 20%;
    position: fixed;
}


.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #494441;
    color: #404242;
    text-align: center;
}

.chat{
    bottom: 100px;
    position: fixed;
    width: 20%;
    height: 100px;
    line-height: 50px;
    background-color: #494441;
    color: #404242;
    text-align: center;
}

#span-footer{
    color: #e1dcdc;
}

/*header*/
#nav-header{
    background-color: #494441;
}

/*css du 2048 le jeu*/

.case2{
    background-color: #bbb;
    color: #636060;
}

.case4{
    background-color: #aaa;
    color: #636060;
}

.case8{
    background-color: #999;
    color: #636060;
}

.case16{
    background-color: #888;
    color: #636060;
}

.case32{
    background-color: #777;
    color: #333;
}

.case64{
    background-color: #666;
    color: #111;
}

.case128{
    background-color: #555;
    color: black;
}

.case256{
    background-color: #444;
    color: black;
}

.case512{
    background-color: #333;
    color: black;
}

.case1024{
    background-color: #222;
    color: black;
}

.case2048{
    background-color: #111;
    color: black;
}

.default{
    background-color: #474747;
}

#fondPrincipale{
    background-color: #787878;
}

#jeu{
    position: absolute;
    z-index: 1;
    top:20%;
    left:36%;
}

div {
    display: block;
}

.ligne{
    margin-bottom: 15px;
}

#ligne1{
    background-color: #5e5e5e;

}

.case {
    border-style:solid;
    border-width:1px;
    border-color:black;
    transition-property : top, left;
    transition-duration : 1s;
    text-align: center;
    font-size: 4rem;
    line-height: 100px;
    width: 106.25px;
    height: 106.25px;
    margin: 1px;
    float: left;
    border-radius: 3px;
}

#btn_jeu{
    position: absolute;
    z-index: 1;
    top:75%;
    left:36%;
}
.btn_2048 {
    width: 15em;
    border: 1px solid #333;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #000, #404040 40%, #636363);
    margin-top: 50px;
    margin-right: 10px;
    float: left;
}

.btn_2048 > a{
    display:block;
    text-align:center;
    color:white;
}

.btn_2048 > a:hover{
    color:white;
}

/*Formulaire*/
#buttonForm{
    background-color: #303030;
    color: white;
}

#formContour{
    border:5px double black;
}

#titleForm{
    color: black;
}

form > input {
    background-color: #d4d4d4;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

tbody > tr {
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #ababab;
    border-collapse: collapse;
}
/*Page d'Erreur*/

#error1{
    text-decoration: underline;
    text-align:center;
    color:black;
}

#error2{
    font-size:20px;
    text-align: center;
    color: #383737;
}


/*Admin tableau*/

.table100.ver3 {
    background-color: #5e5e5e;
}

.table100.ver3 th {
    font-family: Lato-Bold;
    font-size: 15px;
    color: black;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #5e5e5e;
}

.table100.ver3 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #d6d6d6;
    line-height: 1.4;
    background-color: #333333;
}

.table100.ver3 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver3 .ps__rail-y {
    right: 5px;
}

.table100.ver3 .ps__rail-y::before {
    background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
    background-color: #00ad5f;
}


.videold { 	background-color:#00008B; z-index:0; border:none}

.message {
    margin-top:40%;
    margin-bottom:40%;
    margin-left:8%;
    margin-right:8%;
    text-align:center;
    position:absolute;
    padding : 3%;
    background-color:#5e5e5e;
    color:#eeeeee;
    border:3px solid #eeeeee;
    border-radius:6px;
    font-family: 'Lato', sans-serif;

}

#test{
    font-size:25px;
}

.nbCoups{
    margin-left: 15%;
    margin-top: 15%;
    text-align:center;
    position:absolute;
    padding : 3%;
    background-color:#5e5e5e;
    color:#eeeeee;
    border:3px solid #eeeeee;
    border-radius:6px;
    font-family: 'Lato', sans-serif;
}

.swapMode{
    margin-left: 14%;
    margin-top: 25%;
    text-align:center;
    position:absolute;
    font-family: 'Lato', sans-serif;
}

#btnMode1{
    margin-right: 10px;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

#btnMode1:hover{
    background-color: grey;
    border-color: grey;
}


#btnMode2{
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    color:white;
}

#btnMode2:hover{
    background-color: grey;
    border-color: grey;
}

h1{
    text-align:center;
    text-decoration: underline;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/* error */
.error{
    padding: 20px;
    color: black;
    background-color: #cc8383;
    border: 4px solid #515151;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 65%;
    margin-top : 50px;
}

#aide
{
    color: white;
}